*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Bodoni Moda', serif;
  text-align: center;
  font-style: italic;
}

.bodoni-moda{
  font-family: "Bodoni Moda";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}


.app{
  background-image: url('./background-image.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
}

.btn{
  background-color: #C30020;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 100px;
  width: 150px;
  height: 60px;
}

.first-screen{
  /* border: 1px solid red; */
  height: 60vh;
  position: absolute;
  bottom: 0;
}