*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:"Segoe UI",sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#ff758c,#ff7eb3,#ffd1dc);
  overflow:hidden;
}

/* card */
.card{
  background:white;
  width:420px;
  height:540px;
  border-radius:30px;
  padding:25px;
  text-align:center;
  position:relative;
  box-shadow:0 25px 60px rgba(0,0,0,.18);
}

/* upload */
.upload{
  font-size:13px;
  margin-bottom:10px;
  color:#ff4d6d;
  cursor:pointer;
}

/* image circle */
.image-wrapper{
  width:170px;
  height:170px;
  border-radius:50%;
  overflow:hidden;
  margin:10px auto;
  border:6px solid #ff4d6d;
  transition:.5s;
}

.image-wrapper img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* message */
.message{
  font-size:18px;
  margin-top:15px;
  color:#444;
}

/* buttons */
button{
  padding:11px 26px;
  border:none;
  border-radius:30px;
  cursor:pointer;
  font-size:15px;
  position:absolute;
}

.yes{
  background:#ff4d6d;
  color:white;
  /* bottom:30px;
  left:70px; */
  transition:.3s;
}

.yes:hover{
  transform:scale(1.1);
}

.no, .no:focus, .no:active{
  background:#eee;
  /* bottom:30px;
  right:70px; */
  transition:0.08s linear;
  touch-action: manipulation;
  out-line: none;
  -webkit-tap-highlight-color: transparent;
}

/* thank you */
.thanks{
  margin-top:15px;
  font-weight:bold;
  color:#ff4d6d;
  opacity:0;
  transform:translateY(10px);
  transition:.4s;
}

.big{
  transform:scale(1.45);
}

.show{
  opacity:1;
  transform:translateY(0);
}

/* music button */
.musicBtn{
  position:absolute;
  top:15px;
  right:15px;
  font-size:12px;
  background:#ff4d6d;
  color:white;
  padding:6px 12px;
}

/* screens */
.screen{
  height:100vh;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:.6s;
}

.hidden{
  display:none;
}

/* intro */
.intro{
  background:linear-gradient(135deg,#ff758c,#ff7eb3,#ffd1dc);
  color:white;
  text-align:center;
}

.bigPlay{
  font-size:28px;
  padding:25px 60px;
  border-radius:60px;
  border:none;
  cursor:pointer;
  margin-top:200px;
}

#buttons{
  border: 1px solid red;
  width: 80vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}